# docker-compose development overrides
# mount code checkout into container and use development server for auto-reloading
---
version: "3.4"
services:
  web:
    environment:
      FLASK_ENV: development
    volumes:
      - ./map:/code/map
