CouchDB
flask
flask-cors
flask-restful
flask-migrate
flask-sqlalchemy
flask-marshmallow
flask-jwt-extended
gunicorn
jmespath
marshmallow-sqlalchemy
python-dateutil
python-dotenv
python-jose[cryptography]
passlib
requests
tox
